.clear{
    clear: both;
}
.header{
    background: white;
    height: 160px;
    overflow: hidden;
}
.contentArea{
    overflow: hidden;
    margin: 20px 0px 20px 0px;
    font-size: 17px;
    background: white;
}
.imageUpload{
    float: left;
    position: relative;
    top: 2px;
}
.imageUpload :global(.ant-upload.ant-upload-select-picture-card){
    margin:0 0 0 0;
    height: 130px;
    width: 125px;
}
.imageUpload:global(.ant-upload-list-picture-card .ant-upload-list-item:hover, .ant-upload-list-picture .ant-upload-list-item:hover){
    height: 130px;
    width: 125px;
}
.header_right{
    width: 87%;
    display: inline-block;
    overflow: hidden;
}
.header_right textarea{
    height: 74px;
    background: white;
}
.status{
    background: white;
}
.richText{
    
    font-size: 17px;
    width: auto;
}
.richTextContentArea{
    background: white;
    overflow: hidden;
    height: 510px;
    margin-bottom:18px;
    font-size: 18px;
}
.head_bread{
    font-size: 18px;
    margin: 17px 20px 15px 30px;
    background-color: white;
}
.text{
    margin: 0px 0px 0px 30px;
    
    
}
.input{
        width:295px;
        height:40px;
        color: rgba(0,0,0,.85);
        border-radius: 8px;
        text-overflow: ellipsis;
        
        
}
select{
        height: 70px;
        line-height: 40px;
        border-radius: 8px;
        padding: 0px 12px;
}
.ct{
    margin: 0px 0px 0px 330px;
}