.pic{
    height: 120px;
    width: 190px;
    text-align: center;
    line-height: 120px;
}
.noPic{
    height: 120px;
    width: 190px;
    text-align: center;
    line-height: 120px;
    background: url("../../../asseets/img/noPic.jpg") no-repeat;
    background-size: contain;
}
.title{

}
.abstract{
    display: inline-block;
    width: 95%;
    overflow: hidden;
    word-break: break-word;
    height: 40px;
    text-overflow:ellipsis;
    margin-bottom: 0;
}
.action{
    line-height: 120px;
    font-size: 15px;
}
